@import url("https://fonts.googleapis.com/css2?family=PT+Mono&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");

/* LOCAL STORAGE */
@import url("components/buttons.css");
@import url("components/overlay.css");
@import url("components/navbar.css");
@import url("components/editor.css");

:root {
  --editor-font: "PT Mono", monospace;
  --font: "Roboto Serif", serif;
  --bg-color: #2c2c2c;
  --text-color: #fff;
  --hover-bg: #555;
  --H1: 22px;
  --H2: 18px;
  --H3: 14px;
  --padding-larg: 25px;
  --padding-medium: 20px;
  --padding-small: 15px;
}

body {
  background-color: #282c34;
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.righter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
}

body::-webkit-scrollbar {
  display: none;
}

