.navbar {
  background-color: #20232a;
  padding: 10px;
  font-family: var(--font);
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  margin-right: 10px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}

.buttons button {
  font-family: var(--font);
  font-size: var(--H2);
  color: var(--text-color-dull);
  padding: var(--padding-small) var(--padding-larg);
  background: var(--bg-color);
  border: none;
  outline: none;
  border-radius: 15px;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7.5px;
}

.buttons button i, .console-toggle label:last-child i {
  color: var(--text-color);
  line-height: 0;
}

.buttons button:hover {
  background-color: var(--hover-bg);
  transition: background-color 0.3s ease;
}

/* --- CONSOLE TOGGLE --- */

.console-toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: var(--padding-small) var(--padding-small);
  background-color: var(--bg-color);
  border-radius: 15px;
}
.console-toggle label:last-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7.5px;
  color: var(--text-color-dull);
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #444;
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:hover + .slider {
  background-color: var(--hover-bg);
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(20px);
}
