/* Overlay Styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  font-family: var(--font);
  line-height: 1.5;
  z-index: 1000;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.overlay-content {
  background: #222;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  max-width: 90%;
  width: 400px;
}

/* Close Button */
.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  color: white;
}

.close-btn:hover {
  color: red;
}

/* Hide Overlay */
.hidden {
  opacity: 0;
  visibility: hidden;
}

/* Github Icon */
.righter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
}

.credits {
  padding: var(--padding-larg);
  width: 100%;
  align-items: center;
  justify-items: center;
  text-align: center;
  font-family: var(--font);
  font-size: var(--H3);
}

.credits img {
  text-decoration: none;
  color: #ababab;
  opacity: 0.35;
}

.credits img:hover {
  opacity: 1;
}
